body {
  text-align: center;
  background-color: #afd4c0;
  height: 100vh;
}

.header{
  background-color: #519872;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.logo{ 
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-title{
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
}

